@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.site-header {
  font-family: Arial, sans-serif;
}

/* ============================= */
/* ÜST BEYAZ ALAN */
/* ============================= */

.header-top {
  padding: 12px 0;
  display: flex;
  align-items: center;
}

/* SOL: HAVA DURUMU */
.header-weather {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;

  .city {
    font-weight: bolder;
  }

  .desc {
    font-size: 11px;
    color: #000;
    font-style: italic;
    font-weight: 400;
  }
}

/* ORTA: LOGO */
.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 150px;
    margin-bottom: 4px;
  }

  .header-date {
    font-size: 11px;
    color: #3d3d3d;
    text-align: center;
  }
}

/* SAĞ: MOD + SAAT */
.header-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  font-size: 12px;

  .mode-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      color: #fff !important;
    }
  }

  .clock {
    font-weight: bolder;
    font-size: 15px;
  }

  .prayer {
    font-size: 11px;
    color: #555;
  }
}

/* ============================= */
/* MENÜ */
/* ============================= */

.header-nav {
  border-bottom: 1px solid #eee;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 12px 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu-right {
  font-size: 26px;
  cursor: pointer;
  margin-left: 20px;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: bolder;
}

/* ============================= */
/* ✅ SİYAH BAR */
/* ============================= */

.header-bar {
  background: #000;
  color: #fff;
  padding: 6px 0;
  font-size: 14px;
  width: 100%;
  overflow: hidden;

  .row {
    margin: 0;
  }

  .col-md-6 {
    display: flex;
    align-items: center;
  }
}

.header-currency {
  display: flex;
  gap: 13px;
  align-items: center;

  .price {
    font-weight: bolder;
    font-size: 12px;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  white-space: nowrap;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

/* ============================= */
/* SOSYAL */
/* ============================= */

.social-icons {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 16px;
}

.social {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cfcece;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
  font-weight: bolder;

  i {
    color: #000 !important;
    font-size: 12px;
  }

  &.gray {
    font-weight: bolder;
  }

  &.search {
    background: transparent;
    margin-left: 12px;

    i {
      color: #fff !important;
      font-size: 20px;
    }
  }
}

/* ============================= */
/* ✅✅✅ KIRMIZI BAR  */
/* ============================= */

.breaking-wrapper {
  background: #c50a0a;
  width: 100%;
  overflow: hidden;
  
  .row {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 3px;
  }
}

.breaking-inner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.breaking-title {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  border-right: 1px solid #fff;   
  padding-right: 12px;             
  margin-right: 12px;             
  display: flex;                  
  align-items: center;           
  height: 100%;                   
  line-height: 1;
}



.slick-breaking {
  flex: 1;
  min-width: 0;
}

/* Haber item */
.breaking-item {
  display: flex !important;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* Saat */
.breaking-time {
  background: #fff700;
  color: #000;
  padding: 1px 5px;
  font-size: 9px;
  font-weight: bolder;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  display: flex !important;
  align-items: center;
  height: auto !important;
}


.breaking-wrapper .slick-prev,
.breaking-wrapper .slick-next {
  width: 20px;
  height: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
}

/* ✅ HOVER OLUNCA OKLAR AÇILSIN */
.breaking-wrapper:hover .slick-prev,
.breaking-wrapper:hover .slick-next {
  opacity: 1;
  pointer-events: auto;
}

.breaking-wrapper .slick-prev:before,
.breaking-wrapper .slick-next:before {
  font-size: 22px;
  color: #fff;
}