/* ✅ ÜST MANŞET */
.headline-main {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.headline-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline-text {
    font-size: 50px;
  position: absolute;
  left: 20px;
bottom: 50px; 
  width: 50%; 
  padding: 30px;
  background: rgba(0, 0, 0, 0.55);
}

.headline-text h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  margin: 0;
}

/* ✅ ALT SİYAH BANT */
.headline-bottom {
  display: flex;
  background: #000;
  border-top: 0.2px solid #999999;
}

.headline-thumb {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 13px;
  padding: 12px 10px;
  cursor: pointer;
  border-right: 1px solid #313030;
  transition: .25s;
}

.headline-thumb:last-child {
  border-right: none;
}

.headline-thumb img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.headline-thumb span {
  line-height: 1.2;
}


.headline-bottom {
  position: relative;
}

.headline-thumb {
  position: relative;
}

.headline-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: #c40000;
  transition: 0.25s;
}

.headline-thumb.active::after,
.headline-thumb:hover::after {
  width: 100%;
}

/* Tablet */
@media (max-width: 992px) {

  .headline-main {
    height: 340px;
  }

  .headline-text {
    width: 70%;
    left: 15px;
    bottom: 30px;
    padding: 22px;
  }

  .headline-text h2 {
    font-size: 30px;
    line-height: 1.25;
  }

  .headline-thumb {
    font-size: 12px;
    padding: 10px 8px;
    gap: 8px;
  }

  .headline-thumb img {
    width: 45px;
    height: 45px;
  }
}


/* ✅✅ Mobil */
@media (max-width: 576px) {

  .headline-main {
    height: 260px;
  }

  .headline-text {
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    padding: 16px;
  }

  .headline-text h2 {
    font-size: 20px;
    line-height: 1.25;
  }

  .headline-bottom {
    flex-wrap: wrap;
  }

  .headline-thumb {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #313030;
    font-size: 12px;
    padding: 10px;
  }

  .headline-thumb img {
    width: 42px;
    height: 42px;
  }

  .headline-thumb:last-child {
    border-bottom: none;
  }
}


/* ✅✅ Büyük ekran */
@media (min-width: 1600px) {

  .headline-main {
    height: 520px;
  }

  .headline-text {
    width: 45%;
    padding: 38px;
  }

  .headline-text h2 {
    font-size: 46px;
  }
}
